<header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-4 mt-3">
          <img src={{dataPortfolio.header.logo}} alt="logoArgProg" style="width: 125%;height: 75px;">
        </div>
        <!--NAV-->
        <div class="col-8 mt-3 nav-contenedor">
          <nav>
            <li><a href=#fotoPerfil>Acerca de mi</a></li>
            <li><a href=#experiencias>Experiencias</a></li>
            <li><a href=#proyectos>Proyectos</a></li>
            <li><a href=#contacto>Contacto</a></li>
            <li><a href=>cv</a></li>
            <input id="abrirLog" type="button"  value="Iniciar sesion">
          </nav>
        </div>
      </div>
    </div>
    <app-banner-in-header></app-banner-in-header>
  </header>
