<!--BANNER-->
<div id="contenedorBanner">
  <div id="contenedor-fondo-banner">
    <div id="fondo-banner">
      <div id="espacio-foto-banner">
        <img [src]="dataPortfolio.header.bannerImg" id="foto-banner">
      </div>
      <div id="frase-banner">
        <h3 class="text-center">{{dataPortfolio.header.bannerPhrase}}</h3>
        <p>{{dataPortfolio.header.bannerDetail}}</p>
      </div>
    </div>
  </div>
  <app-edit-windows *ngIf="userLog" (sendData)="processData($event)" let [btnDelete]="false"></app-edit-windows>
</div>