<app-header></app-header>
<!--Acerca De-->
<section id="acercaDe">
  <img src="img/fotoPerfil.png" alt="fotoPerfil" id="fotoPerfil">
  <div class="container-fluid">
    <div class="row  justify-content-around aling-content-center">
      <div class="col-3 mt-3"></div>
      <div class="col-8 mt-3 h-50">
        <h2>titulo</h2>
      </div>
      <div class="row  justify-content-around aling-content-center">
        <div class=" col-3  mt-2 bg-light">
          <h2>Nombre de propietario portfolioWeb</h2>
        </div>
        <div class=" col-8 mt-2 bg-light">
          <p>resumen</p>
        </div>
      </div>
    </div>
  </div>
  <div class="controlEdit">
    <button style="background-color: aliceblue;"><i class="fa-solid fa-pencil "></i></button>
  </div>
</section>

<!--Experiencias Laborales -->
<section id="experiencias">
  <div>
    <h2>experiencias</h2>
  </div>
  <div id="espacioExp">
    <div id="fotoExp">
      <img src="" alt="FOTO 1">
    </div>
    <div id="detallesExp">
      <div id="tituloExp">
        <h3>Experiencia Laboral 1</h3>
      </div>
      <div id="espacioResumenExp">
        <p>detalles</p>
      </div>
    </div>
  </div>
  <div class="controlEdit">
    <button style="background-color: aliceblue;"><i class="fa-solid fa-pencil "></i></button>
    <button style="background-color: aliceblue;"><i class="fa-solid fa-trash-can"></i></button>
  </div>
  <div id="espacioExp">
    <div id="fotoExp">
      <img src="" alt="FOTO 2">
    </div>
    <div id="detallesExp">
      <div id="tituloExp">
        <h3>Experiencia Laboral 2</h3>
      </div>
      <div id="espacioResumenExp">
        <p>detalles</p>
      </div>
    </div>
  </div>
  <div class="controlEdit">
    <button style="background-color: aliceblue;"><i class="fa-solid fa-pencil "></i></button>
    <button style="background-color: aliceblue;"><i class="fa-solid fa-trash-can"></i></button>
  </div>
  <div id="espacioExp">
    <div id="fotoExp">
      <img src="" alt="FOTO 3">
    </div>
    <div id="detallesExp">
      <div id="tituloExp">
        <h3>Experiencia Laboral 3</h3>
      </div>
      <div id="espacioResumenExp">
        <p>detalles</p>
      </div>
    </div>
  </div>
  <div class="controlEdit">
    <button style="background-color: aliceblue;"><i class="fa-solid fa-pencil h-10"></i></button>
    <button style="background-color: aliceblue;"><i class="fa-solid fa-trash-can"></i></button>
  </div>
  <div class="controlEdit">
    <button style="background-color: aliceblue;"><i class="fa-solid fa-plus"></i></button>
  </div>
</section>

<!--Educacion-->
<section class="educacion">
  <div>
    <h2>formacion</h2>
  </div>
  <div>
    <ul>
      <li>
        <figure>
          <img src="img/fotoPerfil.png" alt="">
          <figcaption>
            <h3>titulo</h3>
            <p>detalles Lorem ipsum dolor sit.</p>
          </figcaption>
        </figure>
        <div class="controlEdit2">
          <button style="background-color: aliceblue;"><i class="fa-solid fa-pencil "></i></button>
          <button style="background-color: aliceblue;"><i class="fa-solid fa-trash-can"></i></button>
        </div>
      </li>
      <li>
        <figure>
          <img src="img/fotoPerfil.png" alt="foto">
          <figcaption>
            <h3>titulo</h3>
            <p>detalles Lorem ipsum dolor sit.</p>
          </figcaption>
        </figure>
        <div class="controlEdit2">
          <button style="background-color: aliceblue;"><i class="fa-solid fa-pencil "></i></button>
          <button style="background-color: aliceblue;"><i class="fa-solid fa-trash-can"></i></button>
        </div>
      </li>
      <li>
        <figure>
          <img src="img/fotoPerfil.png" alt="">
          <figcaption>
            <h3>titulo</h3>
            <p>detalles Lorem ipsum dolor sit.</p>
          </figcaption>
        </figure>
        <div class="controlEdit2">
          <button style="background-color: aliceblue;"><i class="fa-solid fa-pencil "></i></button>
          <button style="background-color: aliceblue;"><i class="fa-solid fa-trash-can"></i></button>
        </div>
      </li>
      <li>
        <figure>
          <img src="img/fotoPerfil.png" alt="">
          <figcaption>
            <h3>titulo</h3>
            <p>detalles Lorem ipsum dolor sit.</p>
          </figcaption>
        </figure>
        <div class="controlEdit2">
          <button style="background-color: aliceblue;"><i class="fa-solid fa-pencil "></i></button>
          <button style="background-color: aliceblue;"><i class="fa-solid fa-trash-can"></i></button>
        </div>
      </li>
    </ul>
  </div>
  <div class="controlEdit">
    <button style="background-color: aliceblue;"><i class="fa-solid fa-plus"></i></button>
  </div>
</section>

<!--habilidades-->
<section id="habilidades">
  <div>
      <h2>seccion de aptitudes y habilidades</h2>
  </div>
  <div class="container contenedor-habilidades ">
      <div class="row justify-content-around w-100 h-25">
          <div class="col-sm-3 bg-success">
              <p></p>
              <div class="controlEdit2">
                  <button style="background-color: aliceblue;"><i class="fa-solid fa-pencil "></i></button>
                  <button style="background-color: aliceblue;"><i class="fa-solid fa-trash-can"></i></button>
              </div>
          </div>
          <div class="col-sm-3 bg-info">
              <p></p>
              <div class="controlEdit2">
                  <button style="background-color: aliceblue;"><i class="fa-solid fa-pencil "></i></button>
                  <button style="background-color: aliceblue;"><i class="fa-solid fa-trash-can"></i></button>
              </div>
          </div>
          <div class="col-sm-3 bg-warning">
              <p></p>
              <div class="controlEdit2">
                  <button style="background-color: aliceblue;"><i class="fa-solid fa-pencil "></i></button>
                  <button style="background-color: aliceblue;"><i class="fa-solid fa-trash-can"></i></button>
              </div>
          </div>
      </div>
      <div class="row justify-content-around w-100 h-25">
          <div class="col-sm-3 bg-success">
              <p></p>
              <div class="controlEdit2">
                  <button style="background-color: aliceblue;"><i class="fa-solid fa-pencil "></i></button>
                  <button style="background-color: aliceblue;"><i class="fa-solid fa-trash-can"></i></button>
              </div>
          </div>
          <div class="col-sm-3 bg-info">
              <p></p>
              <div class="controlEdit2">
                  <button style="background-color: aliceblue;"><i class="fa-solid fa-pencil "></i></button>
                  <button style="background-color: aliceblue;"><i class="fa-solid fa-trash-can"></i></button>
              </div>
          </div>
      </div>
      <div class="controlEdit">
          <button style="background-color: aliceblue;"><i class="fa-solid fa-plus"></i></button>
      </div>
  </div>
</section>

	
<!--proyectos-->
<section id="proyectos">
    <div>
      <h2>Proyectos</h2>
    </div>
    <div class="conteiner cont-proyectos">
      <!-- Carrusel -->
      <div id="demo" class="carousel slide w-75 " data-bs-ride="carousel">
  
        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
          <div class="carousel-item active text-info text-center">
            <img src="img/fotoPerfil.png" alt="" class="d-block w-75" style="height: 250px;margin: auto;">
            <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit...</h3>
            <p>Quo, harum autem? Eaque reiciendis nostrum sequi cupiditate, magni eius ipsam laudantium
              nulla similique, fugit quia sit atque consectetur? </p>
              <div class="controlEdit">
                <button style="background-color: aliceblue;"><i class="fa-solid fa-pencil h-10"></i></button>
                <button style="background-color: aliceblue;"><i class="fa-solid fa-trash-can"></i></button>
              </div>
          </div>
          <div class="carousel-item text-info text-center">
            <img src="img/fotoPerfil.png" alt="" class="d-block w-75" style="height: 250px;margin: auto;">
            <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit...</h3>
            <p>Quo, harum autem? Eaque reiciendis nostrum sequi cupiditate, magni eius ipsam laudantium
              nulla similique, fugit quia sit atque consectetur? </p>
              <div class="controlEdit">
                <button style="background-color: aliceblue;"><i class="fa-solid fa-pencil h-10"></i></button>
                <button style="background-color: aliceblue;"><i class="fa-solid fa-trash-can"></i></button>
              </div>
          </div>
          <div class="carousel-item text-info text-center">
            <img src="img/fotoPerfil.png" alt="" class="d-block w-75" style="height: 250px;margin: auto;">
            <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit...</h3>
            <p>Quo, harum autem? Eaque reiciendis nostrum sequi cupiditate, magni eius ipsam laudantium
              nulla similique, fugit quia sit atque consectetur? </p>
              <div class="controlEdit">
                <button style="background-color: aliceblue;"><i class="fa-solid fa-pencil h-10"></i></button>
                <button style="background-color: aliceblue;"><i class="fa-solid fa-trash-can"></i></button>
              </div>
          </div>
          
        </div>
  
        <!-- Left and right controls/icons /controles derecho e izq carrusel-->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>
      
    </div>
    <div class="controlEdit">
      <button style="background-color: aliceblue;"><i class="fa-solid fa-plus"></i></button>
    </div>
  </section>

	<!-- Footer -->
<footer id="contacto">
    <h2>Contacto</h2>
    <div class="container">
      <div class="row">
        <div class="container my-1 text-light">
          <div class="row">
            <div class="col-sm-2 mb-1">
              <h3>enlaces</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
  
            </div>
            <div class="col"></div>
            <div class="col-sm-5 mb-1 contacto-footer">
              <div></div>
              <div></div>
              <div></div>
  
            </div>
            <div class="col"></div>
            <div class="col-sm-2 mb-1">
              <h3>info adic</h3>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>


